body {
  background-color: #eae3df;
}

.navbar-brand {
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: bold;
color: red;
text-decoration: underline;
}


.navbar-brand:hover {
  color:#6c757d;
}

.navbar {
  background-color: aliceblue;
  padding: 0.1rem;
  border-radius: 0.2%;
}

.nav-link:hover {
  color: #0000FF;
}

.bordered-div {
  background-color: hsl(280, 2%, 74%);
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  border-radius: 25%;
  font-style: bold;
}

.title {
  text-align: center;
}


.manufacturer {
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.manufacturer img {
  height: 200px;
  width: auto;
  border-radius: 10%;
}

.contactus {
  text-align: center;
  border: 10px solid black;
  border-radius: 1%;
}

.contactheading {
  font-style: inherit;
  text-decoration: underline;
}
.contactlist {

   text-align: center;
   list-style: none;
}

footer {
  display: flex;
  justify-content: space-between;
}

.social {
  list-style: none;
  
}

.list {
  display: inline-block;
}
