.head {
  
}

.car_logo {
}
.title {
    text-align: center;
}

.car{
    width: 275px;
}
.manufacturer {
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.manufacturer img {
  height: 200px;
  width: auto;
  border-radius: 10%;
}